.ui-dialog .ui-dialog-title {
    margin: 0;
}

.ui-draggable.ui-resizable {
    border: none;
    /*min-width: 652px;*/
    /*min-height:346px;*/
    border-radius: 5px;
    overflow: hidden;
}

.ui-helper-clearfix.ui-draggable-handle {
    background: #0973B9;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 0 0.5em;
    color: white;
    margin: 1px;
    overflow: visible;
    border-radius: 0;
}

.ui-dialog .ui-dialog-content {
    padding: 0;
    margin: 10px;
}

.ui-button-icon-only.ui-dialog-titlebar-close {
    font-size: 1em;
    border-radius: 50%;
    top: 11px;
    z-index: 99;
    right: 0;
}

ui-helper-clearfix.ui-draggable-handle {
    background: #0973B9;
    margin: -2px;
    padding: 0.4em;
    color: white;
}

.ui-resizable-handle.ui-resizable-n,
.ui-resizable-handle.ui-resizable-s,
.ui-resizable-handle.ui-resizable-e,
.ui-resizable-handle.ui-resizable-w {
    background: #0973B9;
}


.ui-resizable-handle.ui-resizable-n,
.ui-resizable-handle.ui-resizable-s {
    height: 5px;
}

.ui-resizable-handle.ui-resizable-e,
.ui-resizable-handle.ui-resizable-w {
    width: 5px;
}

.dialog {
    display: none;
    position: relative;
}

    .dialog .border-red {
        border: 1px solid #ff0000;
    }

    .dialog .tr .td {
        position: relative;
    }

    .dialog .error-icon {
        position: absolute;
        right: 4px;
        margin-left: 5px;
        display: none;
    }

    .dialog .align-items-center {
        display: flex;
        align-items: center;
    }

    .dialog label {
        display: inline-block;
        min-width: 115px;
    }

    .dialog .tr.justify-content {
        justify-content: space-between;
    }

    .dialog .tr {
        margin-bottom: 0.4em;
    }

    .dialog .display-flex {
        display: flex;
    }

    .dialog .long-input {
        width: 100%
    }

    .dialog .form-addSave-btns {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

        .dialog .form-addSave-btns div {
            display: flex;
        }

    .dialog button {
        border: 1px solid #dddddd;
        padding: 5px 10px;
        margin-right: 5px;
        background: #ffffff;
        display: flex;
        align-items: center;
    }

        .dialog button img, .dialog s button img {
            width: 16px;
            margin-right: 5px;
        }

    .dialog .form-addSave-btns button:last-child {
        margin: 0;
    }

    .dialog .form-alert-btns {
        position: absolute;
        display: flex;
        right: 0;
        bottom: 0;
    }

.dialog-delete-title {
    display: flex;
    align-items: center;
}

    .dialog-delete-title img {
        margin-right: 5px;
        height: 30px;
    }

.ui-widget-overlay.ui-front {
    background: black !important;
    opacity: 0.5 !important;
}

.daypicker-btn {
    position: absolute;
    top: 1px;
    right: 2px;
    width: 20px;
    height: 20px;
    background: url(/Contents/images/form/date-trigger.png) no-repeat left top;
}
