
.content .data-table table#tbCustomers thead tr th:nth-child(1) {
    width: 6%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(2) {
    width: 10%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(3) {
    width: 6%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(4) {
    width: 12%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(5) {
    width: 6%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(6) {
    width: 10%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(7) {
    width: 6%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(8) {
    width: 10%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(9) {
    width: 6%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(10) {
    width: 12%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(11) {
    width: 8%;
}

.content .data-table table#tbCustomers thead tr th:nth-child(12) {
    width: 8%;
}
